html {
   font-size: 62.5%;
}

body {
   @include base-font(16);
   overflow-x: hidden;
}

.wrapper {
   max-width: 1280px;
   width: 90%;
   margin: 0 auto;
}

.inner-wrapper {
   max-width: 1080px;
   width: 90%;
   margin: 0 auto;
}

.archive,
.trash {
   .main-title {
      @include base-font(30);
      padding-bottom: 20px;
      border-bottom: 1px solid $lightgray;
      text-align: right;
   }
}

.empty-section {
   text-align: center;
   opacity: 0.2;
   height: 80vh;
   @include flex(column);
}

.main-page {
   height: 50vh;
}

.icon-main {
   @include base-font(150);
}
