html {
   font-size: 62.5%;
}

body {
   @include base-font(16);
}

.wrapper {
   max-width: 1280px;
   width: 90%;
   margin: 0 auto;
}

.inner-wrapper {
   max-width: 1080px;
   width: 80%;
   margin: 0 auto;
}