.logInPage {
   background: $pink;
   @include flex(column);
   height: 100vh;
   h1 {
      @include base-font(95);
      margin-bottom: 20px;
   }
}

.logInForm {
   @include flex(row);
   flex-wrap: wrap;
   justify-content: space-between;
   width: 30%;
   text-align: center;
   button {
      width: calc(50% - 5px);
      border: 1px solid $black;
      border-radius: 5px;
      padding: 5px;
      margin: 5px 0;
      background: $black;
      color: $white;
      box-shadow: 1px 1px 1px $black;
   }
   .guestSignIn {
      background: none;
      border: none;
      width: 100%;
      color: $black;
      box-shadow: none;
   }
}