.navigation {
   background: $userChoice;
   padding: 10px 0;
   box-shadow: 0 2px 2px $lightgray;
   &-flex {
      @include flex(row);
      justify-content: space-between;
   }
   h1 {
      margin: 0;
   }
   &-options {
      @include flex(row);
      justify-content: space-between;
      position: relative;
   }
}

.theme {
   width: 20px;
   height: 20px;
   border: 1px solid black;
   border-radius: 50%;
   margin-right: 20px;
   background: $userChoice;
   &-options {
      position: absolute;
      top: 20px;
      left: -20px;
      padding: 15px 20px 0 20px;
      background: rgba(255,255,255,0.7);
      li {
         width: 20px;
         height: 20px;
         border-radius: 50%;
         margin-bottom: 15px;
      }
   }
   &-color {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid black;
   }
}

.show-themes {
   display: block;
}

.hide-themes {
   display: none;
}

.red {
   background: $red;
}
.blue {
   background: $blue;
}
.yellow {
   background: $yellow;
}
.green {
   background: $green;
}
.purple {
   background: $purple;
}
.pink {
   background: $pink;
}
.white {
   background: $white;
}
.black {
   background: $black;
}