.navigation {
   background: $userChoice;
   padding: 10px 0;
   box-shadow: 0 2px 2px $lightgray;
   &-flex {
      @include flex(row);
      justify-content: space-between;
   }
   h1 {
      margin: 0;
   }
   ul {
      @include flex(row);
      justify-content: space-between;
   }
}