.navigation {
   background: $pink;
   padding: 10px 0;
   &-flex {
      @include flex(row);
      justify-content: space-between;
   }
   h1 {
      margin: 0;
   }
   ul {
      @include flex(row);
      justify-content: space-between;
      width: 100px;
   }
}