.note-display {
   @include flex(column);
   align-items: flex-start;
   padding-top: 30px;
   border-top: 1px solid $lightgray;
}

.saved-note {
   width: 100%;
   margin-bottom: 30px;
   padding: 0 15px;
   overflow: hidden;
   border-radius: 5px;
   box-shadow: 1px 1px 3px $lightgray;
   background: $userChoice;
   &-title {
      margin: 0;
   }
}

.icon-format {
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   
}

#line-break {
   white-space: pre-line;
}

.icons {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   .icon {
      margin-left: 15px;
   }
}