.side-bar {
   position: absolute;
   top: 50.5px;
   width: 100%;
   z-index: 1000;
   height: calc(100vh - 50.5px);
   background: white;
   text-align: right;
   transition: transform 0.4s ease-in;
   ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      li {
         padding-top: 25px;
         border-bottom: 1px solid grey;
         width: 100%;
      }
      .link {
         color: black;
      }
      .link-active {
         font-weight: bold;
      }
   }
}

.not-visible {
   transform: translateX(100%);
}

.visible {
   transform: translateX(0);
}