$red: tomato;
$yellow: rgb(255, 204, 38);
$green: rgb(121, 219, 92);
$blue: rgb(132, 181, 255);
$purple: rgb(193, 161, 253);
$pink: rgb(230, 199, 209);
$lightgray: rgb(168, 166, 166);
$darkgray: rgb(58, 57, 57);
$black: #232323;
$white: rgb(255, 249, 249);
$userChoice: $pink;