/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  overflow-x: hidden; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

.inner-wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto; }

.archive .main-title,
.trash .main-title {
  font-size: 30px;
  font-size: 3rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #a8a6a6;
  text-align: right; }

.empty-section {
  text-align: center;
  opacity: 0.2;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main-page {
  height: 50vh; }

.icon-main {
  font-size: 150px;
  font-size: 15rem; }

.logInPage {
  background: #e6c7d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .logInPage h1 {
    font-size: 95px;
    font-size: 9.5rem;
    margin-bottom: 20px; }

.logInForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
  text-align: center; }
  .logInForm button {
    width: calc(50% - 5px);
    border: 1px solid #232323;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    background: #232323;
    color: #fff9f9;
    box-shadow: 1px 1px 1px #232323; }
  .logInForm .guestSignIn {
    background: none;
    border: none;
    width: 100%;
    color: #232323;
    box-shadow: none; }

.navigation {
  background: #e6c7d1;
  padding: 10px 0;
  box-shadow: 0 2px 2px #a8a6a6; }
  .navigation-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
  .navigation h1 {
    margin: 0; }
  .navigation-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative; }

.theme {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 20px;
  background: #e6c7d1; }
  .theme-options {
    position: absolute;
    top: 20px;
    left: -20px;
    padding: 15px 20px 0 20px;
    background: rgba(255, 255, 255, 0.7); }
    .theme-options li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-bottom: 15px; }
  .theme-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black; }

.show-themes {
  display: block; }

.hide-themes {
  display: none; }

.red {
  background: tomato; }

.blue {
  background: #84b5ff; }

.yellow {
  background: #ffcc26; }

.green {
  background: #79db5c; }

.purple {
  background: #c1a1fd; }

.pink {
  background: #e6c7d1; }

.white {
  background: #fff9f9; }

.black {
  background: #232323; }

.side-bar {
  position: absolute;
  top: 50.5px;
  width: 100%;
  z-index: 1000;
  height: calc(100vh - 50.5px);
  background: white;
  text-align: right;
  transition: transform 0.4s ease-in; }
  .side-bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .side-bar ul li {
      padding-top: 25px;
      border-bottom: 1px solid grey;
      width: 100%; }
    .side-bar ul .link {
      color: black; }
    .side-bar ul .link-active {
      font-weight: bold; }

.not-visible {
  transform: translateX(100%); }

.visible {
  transform: translateX(0); }

.notes form {
  text-align: center;
  margin: 50px auto 0 auto;
  width: 100%;
  border-bottom: 1px solid #a8a6a6; }

.note-container {
  box-shadow: 0 0 5px gray;
  border-radius: 5px; }

.title {
  font-size: 20px;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px; }

.hidden {
  display: none; }

textarea {
  resize: none;
  width: 100%;
  height: 70px;
  max-height: 60vh;
  border: none;
  padding: 15px;
  border-radius: 5px; }

input[type=submit] {
  width: 100%;
  margin: 15px 0 30px 0;
  background: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px gray; }
  input[type=submit]:hover {
    background: #232323;
    color: #fff9f9; }

.note-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-top: 15px; }

.saved-note {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 15px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #a8a6a6;
  background: #e6c7d1; }
  .saved-note-title {
    margin: 0; }

.icon-format {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }

#line-break {
  white-space: pre-line; }

.icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .icons .icon {
    margin-left: 15px; }

.red-theme {
  background: tomato; }

.blue-theme {
  background: #84b5ff; }

.yellow-theme {
  background: #ffcc26; }

.green-theme {
  background: #79db5c; }

.purple-theme {
  background: #c1a1fd; }

.pink-theme {
  background: #e6c7d1; }

.white-theme {
  background: #fff9f9; }

.dark-theme {
  background: #232323;
  color: #fff9f9; }
